.see-all-btn {
    background-color: #fe4141  !important;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    border-radius: 0 2rem;
    padding: .8rem 3rem;
    margin-top: 3rem;
  }
  .see-all-btn:hover {
    color: white !important;
    transform: scale(.8);
    transition: ease-in-out .5s;
  }

#home1 {
    /* background-image: url("../img/2.jpg"); */
    max-height: 55vh;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container*/
        height: calc(50vh + 10vw);
  }
  .search-btn {
    position: absolute;
    top: 0rem;
    right: 0rem;
    height: 100%;
    padding: 0 1.7rem;
    font-weight: bold;
    background-color: #76cf48 !important;
  }
  .fa-search {
    position: absolute;
    top: 9px;
    left: 5px;
    font-size: 1.3rem;
    opacity: 0.4;
  }
  .search-input {
    padding-left: 1.7em;
    padding-right: 6.6em;
  }
  .domain-price a span {
    color: #f89406 !important;
  }
  .search-section {
    border-top: 1px solid #2222;
  }
  
.pricing:hover .plan-name {
    background-color: #f6f7fa !important;
  }
  .tap-title::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 10px solid #f6f7fa;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  .features .left-top-icon, .features .right-top-icon{
    padding-top: 140px;
  }
  .features .left-bottom-icon, .features .right-bottom-icon{
    padding-top: 180px;
  }
  .features .main-icon{
    background-color: #e7e8ec;
    border-radius: 50%;
    padding: 50px 0 70px 0;
    width: 300px;
    height: 300px;
  }
  .state{
    background-image: url("../img/8.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* filter: sepia(0.5); */
  background-position: center;
  background-size: cover;
  }
  
@media only screen and (max-width: 414px) {
    /* phone */
    #question {
      background-color: #3A6CAB  !important;
    }
    .tap-section img{
      width: 3rem;
  }
  .features .left-top-icon, .features .right-top-icon, .features .left-bottom-icon, .features .right-bottom-icon{
    padding: 5rem  0;
  }
  }
  @media only screen and (max-width: 991px) and (min-width: 415px) {
    /* ipad*/
    #question {
      background-color: #3A6CAB !important;
    }
    .price-item-last {
      margin: 0 !important;
      margin-top: 30px !important;
    }
    .features .main-icon{
      width: 200px;
      height: 200px;
    }
    .features .main-icon img{
      width: 150px;
    }
  }