/* front family*/
/* <style> */
@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
/* </style> */
/*front family name */
/*
font-family: 'DM Mono', monospace;
*/
:root{
  font-size: 16px;
}
body {
}
a {
  text-decoration: none !important;
}
nav ul a:hover, .blogs-wrapper a:hover, .tap-section a:hover{
  color: #76cf48 !important;
}
.uk-flag{
  width: 1.5rem;
}
.cursor-pointer {
  cursor: pointer;
}
.drop-menu {
  position: absolute;
  margin-top: 50px;
  top: 0;
  left: -30px;
  background-color: white;
  width: 500px;
  box-shadow: 0px 0px 5px 1px #2222;
  display: none;
}
.dropdown-btn:hover .drop-menu {
  display: block;
}
.collapsible {
  font-weight: bold;
  font-size: 1.1rem;
}
.collapsible:after {
  content: "\002B";
  font-weight: bold;
  float: right;
}
.collapsible.active:after {
  content: "×";
}
.collapsible.active {
  color: #76cf48;
}
.collapsible:hover {
  color: #76cf48;
}

/* scroll bar */
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: rgb(242, 247, 245);
  border-left: 1px solid rgb(146, 211, 184);
}
::-webkit-scrollbar-thumb {
  background: #76cf48;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background: #5a9e38;
}

.accordion {
  box-shadow: 0px 0px 5px 1px #2222;
  border-radius: 10px;
}
img.dropdown-svg {
  width: 41px !important;
  height: 35px !important;
}

.signin-btn {
  background-color: #76cf48 !important;
  border-radius: 3px;
  padding: 3px 15px;
  font-weight: 600;
}
nav {
  box-shadow: 0px 0px 10px 0px #2222;
}
nav a, .tap-section a {
  font-weight: bold;
  color: #133568;
}
#sidenav-btn {
  cursor: pointer;
  font-size: 35px;
  color: #133568;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
}
.sidenav a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  transition: 0.3s;
  padding: 0;
}
.close-btn {
  margin: 15px 30px 10px auto;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 37px;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 1px #76cf48;
  color: #76cf48;
  cursor: pointer;
}

.see-all-btn {
  background-color: #fe4141  !important;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  border-radius: 0 2rem;
  padding: .8rem 3rem;
}
.see-all-btn:hover {
  color: white !important;
  transform: scale(.8);
  transition: ease-in-out .5s;
}
.search-btn {
  position: absolute;
  top: 0rem;
  right: 0rem;
  height: 92%;
  padding: 0 1.7rem;
  font-weight: bold;
  background-color: #76cf48 !important;
}
.fa-search {
  position: absolute;
  top: 9px;
  left: 5px;
  font-size: 1.3rem;
  opacity: 0.4;
}
.search-input {
  padding-left: 1.7em;
  padding-right: 6.6em;
}
.domain-price a span {
  color: #f89406 !important;
}
.search-section {
  border-top: 1px solid #2222;
}


@media only screen and (max-width: 414px) {
  /* phone */
  :root {
    font-size: 12px;
  }
  .search-section a {
    font-size: calc(10px + 1vw);
  }
}
